<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce-BackEnd</title>
  </head>
  <body>
    <h1>Productos</h1>
    <ul>
      {{#each products}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </body>
</html>