<!doctype html>
<html>
  <head>
    <title>E-commerce-BackEnd</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>