<!DOCTYPE html>
<html>
  <head>
    <title>E-commerce-BackEnd</title>
  </head>
  <body>
    <h1>Productos en tiempo real</h1>
    <ul id="productList">
      {{#each products}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
   </body>
</html>